// Variables
$mobile-breakpoint: 768px;
$sidebar-width: 250px;
$drawer-transition: margin-left .5s;
$font-family-default: Arial, sans-serif;
$color-background: #111;
$color-link: black;
$color-link-side-drawer: white;
$color-link-hover: #3b79ba;
$color-footer-background: #f1f1f1;

// Body and HTML defaults
html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
}

// Make sure these fill the viewport height to avoid the pdf iframe from shrinking on Chrome
html, body, #main, .content {
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1; // This allows the content to grow and fill available space
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .pdf-container {
    flex: 1; // Grow to fill available space within its parent (.content)
    display: flex;
    iframe {
      flex: 1;
      width: 100%;
      height: 100%; // Make iframe fill its container's height
    }
  }

  footer {
    text-align: center;
    width: 100%;
    background-color: $color-footer-background;
  }
}

.header-container {
  display: flex; // Enables Flexbox
  align-items: center; // Vertically centers the flex items
  justify-content: flex-start; // Aligns items to the start of the container
  padding: 0 20px; // Adds some padding around the content
  background-color: $color-footer-background;

  header {
    margin-left: 20px; // Adds some space between the button and the header text
  }

  button:hover {
      background-color: $color-link-hover;
      color: $color-link-hover;
  }
}

#noFrillsButton {
  background: none;
  border: none;
  cursor: pointer;
  svg {
    fill: currentColor;
  }
}

// Side drawer styles
.side-drawer {
  height: 100%;
  width: 0; // Initial state is hidden
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-background;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: $color-link-side-drawer;
    display: block;
    transition: 0.3s;

    &:hover {
      color: $color-link-hover;
    }

    figure {
      margin: 0; // Removes default margin from figure
      display: flex;
      align-items: center;

      img, svg {
        height: 24px;
        width: auto;
        margin-right: 8px; // Space between logo and text
      }

      figcaption {
        margin: 0; // Adjust as needed
      }
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

// Media queries for responsive adjustments
@media screen and (min-width: $mobile-breakpoint) {
  .side-drawer {
    width: $sidebar-width;
  }

  .side-drawer, #main {
    transition: $drawer-transition;
  }

  #main {
    margin-left: $sidebar-width;
  }
}